@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    background-color: rgb(226, 226, 226);
}

.btn-modal{
    background-color: rgb(61, 180, 61);
    border: 0;
}

span{
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}


